:root {
  --primary-color: #FAF3DD;
  --secondary-color:  #C8D5B9;
  --accent-color: #68B0AB;
  --hover-color: #306e6a;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--primary-color);
}

html {
  font-size: 25px
}
