:root {
  --primary-color: #9a9a9a;
  --secondary-color:  #C8D5B9;
  --accent-color: #000000;
  --hover-color: #306e6a;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--primary-color);
}

html {
  font-size: 20px
}
